body{
  background-color:#F68C97;
}
h3 {
  font-style: italic;
  text-align: center;
}
p {
  text-align: center;
}

.back-color1 {
  background: #D5F68C;
}

.back-color2 {
  background: #ABCA30;
}
.back-color3 {
  background: #FCD946;
}
.rounded {
  font-size: 20;
  border-radius: 10px;
}
.sidebar-font {
  float: right;
  font: sans-serif;
  font-size: 20;
  padding-right:10%;
  line-height: 20px;
}
hr {
  display:grid;
 border-color: #437674;
  border-width:medium;
}
.box{
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;

}
