#results, #begginer, #intermid, #expert, #noprograming, #bluff {
  display: none;
}


body{
  background-color:white;
}
h3 {
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}
p {
  text-align: center;
}

.back-color1 {
  background: #D5F68C;
}

h1 {
  font-style:oblique;
  text-align: center;
  font-weight:;
}
#results{
  text-align: left;
  font-style: italic;
}
.card1{
  font-size: 30px;
  color: blue;
  font-style: italic;

}
h6 {
  text-align:center;
  font-family: cursive;
  font-weight: bold;
}
.card{
  font-style: italic;
  font-weight: bold;
  margin: 1px;
  border: 2px solid green;
  padding: 4px;
  background-color: grey;
  text-align: justify;
}
