#results, #begginer, #intermid, #expert, #noprograming, #bluff {
  display: none;
}


body{
  background-color:white;
}
h3 {
  font-style: italic;
  text-align: center;
}
p {
  text-align: center;
}

.back-color1 {
  background: #D5F68C;
}

h1 {
  font-style:oblique;
  text-align: center;
}
